.about__container__all {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
}

.about__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__text__and__interests {
    text-align: center;
    margin: 3em;
}

.section__title,
.about__title {
    font-size: 30px;
}

.about__interests__title {
    font-size: 20px;
}


.about__paragraph__strong,
.about__paragraph__strong__link {
    color: var(--primary-color);
    text-decoration: none;
}

.about__paragraph {
    margin: 1.5em 0em;
    text-align: justify;
}

.about__text {
    height: 100px;
    width: 700px;
}

.interests-box__all {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 1em auto;
    flex-wrap: wrap;
}

.interests-box {
    width: 25%;
    padding: 10px;
    text-align: center;
    color: var(--primary-color);
    border-radius: 1em;
    box-shadow: var(--shadow-highlight);
    margin: 1em;
}

.interests-box i {
    font-size: 24px;
    margin-bottom: 10px;
}

.interests {
    font-size: 18px;
    margin: 0;
    color: var(--cor-branco);
}

.download-cv,
.about__links {
    display: flex;
    align-items: center;
    border-radius: 1em;
    border: 1.5px solid var(--primary-color);
    box-shadow: var(--shadow-button);
    font-size: 1.5rem;
    padding: 0.5em 1em;
    color: var(--primary-color);
    text-decoration: none;
    gap: 1em;
    margin: 1em 0em;
    min-width: 9em;
}

.about__links i {
    margin-left: 0.3em;
}

.download-cv {
    margin: 2em 38%;
}

.interests-box:hover {
    background-color: var(--hover-color);
    transition: all 0.4s ease-in-out;
}

.about__links:hover {
    box-shadow: var(--shadow-highlight);
}

.download-cv {
    display: none;
}

/* Responsividade - Mobile */
@media screen and (max-width: 749px) {
    .about__navegation {
        display: none;
    }

    .see-my-portfolio {
        display: none;
    }

    .about__container__all {
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about__text__and__links,
    .about__text__and__interests {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin: 10% 0em;
    }

    .about__text {
        width: 100%;
        min-height: 10em;
        max-width: 400px;
        margin: 0 2em 15% 2em;
        font-size: 1em;
    }

    .about__paragraph {
        margin: 1em 1em 0 1em;
    }

    .about__interests {
        margin: 10% 0% 0% 0%;
    }

    .interests-box__all {
        max-width: 100%;
    }

    .interests-box {
        width: 30%;
        margin: 1em 0.5em;
        padding: 1em;
    }

    .interests{
        font-size: 14px;
    }
    .download-cv {
        display: flex;
        justify-content: center;
        max-width: 15em;
    }
}

  /* Responsividade - Tablets */
  @media screen and (min-width: 750px) and (max-width: 1024px) {
    
    .about__navegation {
        display: none;
    }

    .see-my-portfolio {
        display: none;
    }

    .about__container__all {
        padding: 0 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about__text__and__links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2em;
    }

    .about__text__and__interests {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin: 0em;
    }

    .about__text {
        width: 100%;
        min-height: 10em;
        max-width: 400px;
        margin: 0 0 15% 0;
        font-size: 1em;
    }

    .download-cv {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin: 1em;
        width: 15em;
        padding: 1em;
    }
    .about__interests {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 0 5em 0em;
    }

    .interests-box__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 0 2em;
    }
    .interests-box__all {
        max-width: 30em;
        margin: 0;
    }
    .interests-box {
        width: 10em;
        height: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .interests-box i {
        font-size: 2em;
    }
    .interests {
        font-size: 14px;
        color: var(--cor-branco);
    }

  }