.about__container__all {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    text-align: center;
}

.about-box {
    padding: 1.5em;
    text-align: center;
    color: var(--text-color);
    border-radius: 1em;
    background-color: var(--glass-efect);
    margin: 0.5em;
    text-decoration: none;
    min-width: 6em;
}

.about-box i {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-box:hover {
    background-color: var(--hover-color);
    transition: all 0.4s ease-in-out;
}

.about__container {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.about__text__and__interests {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.interests-box__all,
.information-box__all {
    display: grid;
}

.interests-box__all {
    grid-template-columns: repeat(3, 1fr);
}

.information-box__all {
    grid-template-columns: repeat(2, 1fr);
}

.introduction {
    font-size: 1.5em;
}

.about__paragraph {
    text-align: left;
    max-width: 50em;
    margin: 2em;
    height: 8em;
}

.about__interests__title,
.interests {
    font-size: 20px;
    margin: 0;
    color: var(--text-color);
}

.highlight,
.highlight__link {
    color: var(--primary-color);
    text-decoration: none;
}

@media screen and (max-width: 749px) {
    .about__container {
        flex-direction: column;
        align-items: center;
        margin: 2em;
        width: auto;
    }

    .about-box {
        margin: 0;
        padding: 1em 1.5em;
    }

    .about__paragraph {
        width: auto;
        height: 12em;
        margin: 0em 2em;
    }

    .about__interests__title {
        margin-bottom: 1em;
    }

    .interests {
        font-size: 14px;
    }

    .interests-box__all,
    .information-box__all {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
    .about-box {
        width: auto;
        margin: 0;
        padding: 1em;
    }

    .about__paragraph {
        margin: 2em 4em;
        height: auto;
    }

    .about__interests__title {
        margin-bottom: 1em;
    }

    .interests {
        font-size: 14px;
    }

    .interests-box__all,
    .information-box__all {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}