.about__container__all {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    text-align: center;
}

.about__interests__title {
    font-size: 20px;
    font-weight: bold;
}

.highlight,
.highlight__link {
    color: var(--primary-color);
    text-decoration: none;
}

.about__paragraph {
    margin: 2em 0 4em 0;
    text-align: left;
    max-width: 55em;
    height: 3em;
}

.about__container {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.about__text__and__interests {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interests-box__all,
.information-box__all {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: left;
    flex-wrap: wrap;
}

.interests-box__all {
    grid-template-columns: repeat(3, 1fr);
}

.information-box__all {
    grid-template-columns: repeat(2, 1fr);
}

.about-box {
    padding: 1.5em;
    text-align: center;
    color: var(--primary-color);
    border-radius: 1.5em;
    border-bottom: 1.5px solid var(--primary-color);
    box-shadow: var(--shadow-highlight);
    margin: 0.5em;
    text-decoration: none;
    min-width: 6em
}

.about-box i {
    font-size: 24px;
    margin-bottom: 10px;
}

.interests {
    font-size: 18px;
    margin: 0;
    color: var(--cor-branco);
}

.about-box:hover {
    background-color: var(--hover-color);
    transition: all 0.4s ease-in-out;
}

.about__links:hover {
    box-shadow: var(--shadow-highlight);
}


/* Responsividade - Mobile */
@media screen and (max-width: 749px) {
    .about__container {
        flex-direction: column;
        align-items: center;
        margin: 2em;
        width: auto;
    }

    .about-box {
        width: auto;
        margin: 0;
        padding: 1em 1.5em;
    }

    .about__paragraph {
        width: auto;
        height: 15em;
        margin: 0em 3em;
        text-align: left;
    }

    .about__interests__title {
        margin-bottom: 1em;
    }

    .interests {
        font-size: 14px;
    }

    .interests-box__all,
    .information-box__all {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }

}

/* Responsividade - Tablets */
@media screen and (min-width: 750px) and (max-width: 1024px) {
    .about-box {
        width: auto;
        margin: 0;
        padding: 1em;
    }

    .about__paragraph {
        width: auto;
        height: auto;
        margin: 0em 3em 3em 3em;
        text-align: left;
    }

    .about__interests__title {
        margin-bottom: 1em;
    }

    .interests {
        font-size: 14px;
    }

    .interests-box__all,
    .information-box__all {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }

}