.footer{
    display: flex;
    padding:2em;
    justify-content: center;
    text-align: center;
    color: var(--cor-bg-primaria);
    background-color: var(--cor-primaria);
    font-size: 1rem;
    font-weight: 500;
 
}
