.portfolio__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--secondary-bg-color);
}

.portfolio__swiper {
  overflow: hidden;
  align-self: center;
  max-width: 70em;
}

.projects_swiper {
  position: relative;
  max-width: 70em;
  overflow: visible;
}


.portfolio__swiper,
.portfolio__swiper h3 {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.portfolio__swiper h3 {
  font-size: 24px;
  color: var(--primary-color)
}

.portfolio_swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: var(--primary-bg-color);
  border-radius: 1em;
  padding-bottom: 2em;
  margin: 3em 0;
}

.swiper-slide__title {
  font-size: medium;
  margin: 5px;
  color: var(--primary-bg-color);
}

.swiper-slide__tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.swiper-slide__tag {
  list-style: none;
  margin: 0.5em;
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: medium;
}

.swiper-slide__tag i {
  margin-right: 5px;
  color: var(--primary-color);
}

.swiper__info__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.img__and__see-more {
  position: relative;
  margin-bottom: 1em;
}

.swiper__img {
  display: block;
  width: 100%;
  min-height: 200px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.swiper-slide__see-more {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em 3em;
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-top-left-radius: 10px;

}

.img__and__see-more:hover .swiper-slide__see-more {
  opacity: 1;
}

.projects_swiper-button-prev,
.projects_swiper-button-next {
  background-color: var(--primary-bg-color);
  border-radius: 100%;
  padding: 0.4em 0.8em;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: large;
  font-weight: 600;
}

/* Responsividade - Mobile */
@media screen and (max-width: 749px) {

  .portfolio__swiper,
  .swiper__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .swiper__container h3 {
    font-size: 1.2em;
    text-align: center;
  }

  .projects_swiper {
    max-width: 20em;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1em;
    margin: 2em 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

}

/* Responsividade - Tablets */
@media screen and (min-width: 750px) and (max-width: 1024px) {

  .portfolio__swiper,
  .swiper__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .swiper__container h3 {
    font-size: 1.2em;
    margin: 0.5em 1.5em;
    text-align: center;
  }

  .swiper {
    width: 40em
  }

}