.skills__container__all{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.skills{
  display:flex ;
  justify-content: center;
  align-items: baseline;
  margin: 4em 4em;
  gap: 1em;
}

.skill__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__container__title{
  font-size: 18px;
}

.skill__techincal .skills__container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.skill__professional .skills__container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.skill__container__title{
  font-size: 12px;
  font-weight: bold;
  color: var(--cor-primaria);
}


.skill__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  padding: 2em;
  border: 1px solid var(--cor-primaria);
  border-radius: 2em;
  width: 3em;
  height: 3em;
}
 
.skill__container i{
  font-size: 50px;
  color: var(--cor-primaria);
  margin-bottom: 10%;
}

.skill__professional .skill__container i{
  font-size: 30px;
  margin-bottom: 30%;
}

.skill__paragraph{
  text-align: justify;
  margin: 2em 4em;
  width: 30em;
  height: 20em;
  color: var(--cor-secundaria)
}

.see-my-portfolio{
  width: 10em;
}

.skill__container:hover{
  background-color: var(--cor-hover);
  box-shadow: var(--shadow-highlight);
  transition: all 0.4s ease-in-out;
}