.skills__container__all {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2em;
}


.skills__title {
  font-size: 38px;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills_container p {
  margin: 0em 5em;
  text-align: left;
  max-width: 25em;
  padding: 1em;
  border-radius: 1em;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 1em;
  align-items: start;
  width: 90%;
}

.skill-box {
  position: relative;
  border-radius: 10px;
  background-color: var(--glass-efect);
  backdrop-filter: blur(10px);
  padding: 20px;
  text-align: left;
  font-size: medium;
  gap: 10px;
}


.skill-box i {
  color: var(--text-color);
  font-size: 2.5em;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
}

.skill-box h2 {
  font-size: medium;
}

.skill-box p {
  font-size: medium;
  margin: 0.5em;
}

.skill-header {
  display: flex;
  align-items: center;

}

.skill-content {
  display: none;
  padding: 10px;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.skill-content.active {
  display: block;
  animation-name: slideIn;
}

.skill-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

}

.skill-title i {
  font-size: medium;
}

.arrow-icon.rotate {
  transform: rotate(180deg);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 749px) {
  .skills {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .skills__container__all{
    margin: 2em 1em;
  }
}

/* Responsividade - Tablets */
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }
}