:root {
    --bg-color: #121212;
    --surface-color: #1E1E1E;
    --text-color: #EAEAEA;
    --primary-color: rgb(41, 116, 245);
    --secondary-btn-color: #6ba1ff;
    --secondary-text-color: #8D8D92;
    --font-heading: 'Space Grotesk', sans-serif;
    --font-body: 'Inter', sans-serif;
    --container-width: 1120px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--font-body);
    background-color: var(--bg-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    font-weight: 700;
}

/* 2. Estilos do Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border: none !important;
    box-shadow: none !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-width);
    margin: 0 auto;
}

.logo {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-menu a {
    text-decoration: none;
    color: var(--secondary-text-color);
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: var(--primary-color);
}