.services-grid {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 2rem;
    text-align: left;
}

.service-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.service-description {
    color: var(--secondary-text-color);
}

.service-card {
    border-radius: 1rem;
    padding: 2.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1000;

}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.service-icon {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}