.process-section {
    padding: 6rem 2rem;
    max-width: var(--container-width);
    margin: 0 auto;
    text-align: center;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: var(--surface-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1.5px;
}

.timeline-item {
    padding: 10px 40px;
    position: relative;
    width: 50%;

}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12.5px;
    background-color: var(--bg-color);
    border: 4px solid var(--primary-color);
    top: 25px;
    border-radius: 50%;
    z-index: 1;

}

.timeline-item:nth-child(even)::after {
    left: -12.5px;
}

.timeline-content {
    padding: 20px 30px;
    position: relative;
    border-radius: 1rem;
}

.timeline-content h3 span {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-right: 10px;
}

.timeline-content p {
    color: var(--secondary-text-color);
}