.services-section,
.projects-section,
.about-section,
.cta-final-section {
    padding: 6rem 2rem;
    max-width: var(--container-width);
    margin: 0 auto;
    text-align: center;
}

.cta-button.secondary {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.cta-button.secondary:hover {
    background-color: var(--primary-color);
    color: var(--bg-color); 
}

.cta-button.secondary:hover i {
    color: var(--bg-color);
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25D366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    text-decoration: none;
    animation: pulse 2s infinite;
}

.whatsapp-float:hover {
    transform: scale(1.1);

}

.glass-effect {
    background: rgba(25, 25, 25, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-menu a,
.social-links-footer a {
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-menu a:hover,
.social-links-footer a:hover {
    transform: translateY(-2px);
    color: var(--primary-color);
}


.typing {
    display: inline;
}

.nav-menu a {
    position: relative; /* Necessário para o pseudo-elemento ::after */
    text-decoration: none;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px; /* Posição do sublinhado em relação ao texto */
    left: 0;
    background-color: var(--primary-color);
    transform: scaleX(0); /* Começa com largura 0 */
    transform-origin: right;
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-menu a:hover::after {
    transform: scaleX(1); /* Expande para a largura total */
    transform-origin: left;
}